<div class="row" data-hook="checkout_header">
  <h1 class="columns sixteen alpha" data-hook="checkout_title"><%= t('robokassa.details_of_payment', order_number: @order.number) %></h1>
 --></div>

<%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} %>
<div class="clear"></div>
<div class="font-41">&nbsp;</div>

<% payment_service_for @order.id, @payment_method.preferred_mrch_login,
                       :amount => @order.total,
                       :service => :robokassa,
                       :secret => @payment_method.preferred_password1,
                       :html => { :id => 'payment-form' } do |service| %>
  <% service.shporder_number @order.number %>
  <div class="form-buttons links" data-hook="buttons">
    <%= submit_tag t(:pay), :class => 'continue button primary' %>
    <script>Spree.disableSaveOnClick();</script>
  </div>
<% end %>
